.Noyan-logo-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  display: flex;
}

.Noyan-logo {
  margin-top: 252px;
  display: block;
  width: 272px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar-div {
  width: 500px;
  height: 44px;
  overflow: hidden;
  text-align: center;
  display: flex;
  border: 1px #dbdbdb solid;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100px;
  margin-top: 20px;
}

.search-bar-logo {
  display: block;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.5;
}

.search-bar {
  display: flex;
  width: 400px;
  font-size: 16px;
  margin-right: auto;
  border: 0px;
  height: 21px;
  margin-top: auto;
  margin-bottom: auto;
  outline: none;
}
